additional_text.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="croatian">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="p"/>
				<xs:element ref="ul"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="dutch">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="p"/>
				<xs:element ref="ul"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="english">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="p"/>
				<xs:element ref="ul"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="french">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="p"/>
				<xs:element ref="ul"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="german">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="p"/>
				<xs:element ref="ul"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="italian">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="p"/>
				<xs:element ref="ul"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="portuguese">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="p"/>
				<xs:element ref="ul"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="romanian">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="p"/>
				<xs:element ref="ul"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="slovene">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="p"/>
				<xs:element ref="ul"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="text">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="croatian"/>
				<xs:element ref="dutch"/>
				<xs:element ref="english"/>
				<xs:element ref="french"/>
				<xs:element ref="german"/>
				<xs:element ref="italian"/>
				<xs:element ref="portuguese"/>
				<xs:element ref="romanian"/>
				<xs:element ref="slovene"/>
				<xs:element ref="turkish"/>
			</xs:sequence>
			<xs:attribute name="id" use="required" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="texts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="text" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="turkish">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="p"/>
				<xs:element ref="ul"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="ul">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="li" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="li" type="xs:string"/>
	<xs:element name="p" type="xs:string"/>
</xs:schema>
