additional_text.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 U (http://www.xmlspy.com) by Tobias Dahinden (Institute of Cartography) -->
<!--DTD generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<!ELEMENT li (#PCDATA)>
<!ELEMENT p (#PCDATA)>
<!ELEMENT croatian (p | ul)+>
<!ELEMENT dutch (p | ul)+>
<!ELEMENT english (p | ul)+>
<!ELEMENT french (p | ul)+>
<!ELEMENT german (p | ul)+>
<!ELEMENT italian (p | ul)+>
<!ELEMENT portuguese (p | ul)+>
<!ELEMENT romanian (p | ul)+>
<!ELEMENT slovene (p | ul)+>
<!ELEMENT turkish (p | ul)+>
<!ELEMENT text (croatian, dutch, english, french, german, italian, portuguese, romanian, slovene, turkish)>
<!ATTLIST text
	id ID #REQUIRED
>
<!ELEMENT texts (text+)>
<!ATTLIST texts
	xmlns:xsi CDATA #REQUIRED
	xsi:noNamespaceSchemaLocation CDATA #REQUIRED
>
<!ELEMENT ul (li+)>
