guiElements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="croatian" type="xs:string"/>
	<xs:element name="dutch" type="xs:string"/>
	<xs:element name="english" type="xs:string"/>
	<xs:element name="french" type="xs:string"/>
	<xs:element name="german" type="xs:string"/>
	<xs:element name="italian" type="xs:string"/>
	<xs:element name="portuguese" type="xs:string"/>
	<xs:element name="romanian" type="xs:string"/>
	<xs:element name="slovene" type="xs:string"/>
	<xs:element name="turkish" type="xs:string"/>
	<xs:element name="guiElement">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="croatian"/>
				<xs:element ref="dutch"/>
				<xs:element ref="english"/>
				<xs:element ref="french"/>
				<xs:element ref="german"/>
				<xs:element ref="italian"/>
				<xs:element ref="portuguese"/>
				<xs:element ref="romanian"/>
				<xs:element ref="slovene"/>
				<xs:element ref="turkish"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="guiElements">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="guiElement" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
