symbol_data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="cave_symbol">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="photos"/>
				<xs:element ref="translationsSymbolName"/>
				<xs:element ref="translationsExplanations"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="hasProfileSymbol" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="false"/>
						<xs:enumeration value="true"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="cave_symbols">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cave_symbol" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="croatian" type="xs:string"/>
	<xs:element name="dutch" type="xs:string"/>
	<xs:element name="english" type="xs:string"/>
	<xs:element name="french" type="xs:string"/>
	<xs:element name="german" type="xs:string"/>
	<xs:element name="italian" type="xs:string"/>
	<xs:element name="turkish" type="xs:string"/>
	<xs:element name="portuguese" type="xs:string"/>
	<xs:element name="romanian" type="xs:string"/>
	<xs:element name="slovene" type="xs:string"/>
	<xs:element name="photo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="croatian"/>
				<xs:element ref="dutch"/>
				<xs:element ref="english"/>
				<xs:element ref="french"/>
				<xs:element ref="german"/>
				<xs:element ref="italian"/>
				<xs:element ref="portuguese"/>
				<xs:element ref="romanian"/>
				<xs:element ref="slovene"/>
				<xs:element ref="turkish"/>
			</xs:sequence>
			<xs:attribute name="filename" type="xs:string" use="required"/>
			<xs:attribute name="title" type="xs:string" use="optional"/>
			<xs:attribute name="width" type="xs:integer" use="required"/>
			<xs:attribute name="height" type="xs:integer" use="required"/>
			<xs:attribute name="photographer" type="xs:string" use="optional"/>
			<xs:attribute name="caveRegionName" type="xs:string" use="optional"/>
			<xs:attribute name="year" type="xs:integer" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="photos">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="photo" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="translationsExplanations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="croatian"/>
				<xs:element ref="dutch"/>
				<xs:element ref="english"/>
				<xs:element ref="french"/>
				<xs:element ref="german"/>
				<xs:element ref="italian"/>
				<xs:element ref="portuguese"/>
				<xs:element ref="romanian"/>
				<xs:element ref="slovene"/>
				<xs:element ref="turkish"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="translationsSymbolName">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="croatian"/>
				<xs:element ref="dutch"/>
				<xs:element ref="english"/>
				<xs:element ref="french"/>
				<xs:element ref="german"/>
				<xs:element ref="italian"/>
				<xs:element ref="portuguese"/>
				<xs:element ref="romanian"/>
				<xs:element ref="slovene"/>
				<xs:element ref="turkish"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
