symbol_data.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 U (http://www.xmlspy.com) by Tobias Dahinden (Institute of Cartography) -->
<!--DTD generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<!ELEMENT cave_symbol (photos, translationsSymbolName, translationsExplanations)>
<!ATTLIST cave_symbol
	id ID #REQUIRED
	hasProfileSymbol (false | true) #REQUIRED
>
<!ELEMENT cave_symbols (cave_symbol+)>
<!ATTLIST cave_symbols
	xmlns:xsi CDATA #REQUIRED
	xsi:noNamespaceSchemaLocation CDATA #REQUIRED
>
<!ELEMENT croatian (#PCDATA)>
<!ELEMENT dutch (#PCDATA)>
<!ELEMENT english (#PCDATA)>
<!ELEMENT french (#PCDATA)>
<!ELEMENT german (#PCDATA)>
<!ELEMENT italian (#PCDATA)>
<!ELEMENT portuguese (#PCDATA)>
<!ELEMENT romanian (#PCDATA)>
<!ELEMENT slovene (#PCDATA)>
<!ELEMENT turkish (#PCDATA)>
<!ELEMENT photo (croatian, dutch, english, french, german, italian, portuguese, romanian, slovene, turkish)>
<!ATTLIST photo
	filename CDATA #REQUIRED
	width CDATA #REQUIRED
	height CDATA #REQUIRED
	photographer CDATA #IMPLIED
	caveRegionName CDATA #IMPLIED
	year CDATA #IMPLIED
>
<!ELEMENT photos (photo*)>
<!ELEMENT translationsExplanations (croatian, dutch, english, french, german, italian, portuguese, romanian, slovene, turkish)>
<!ELEMENT translationsSymbolName (croatian, dutch, english, french, german, italian, portuguese, romanian, slovene, turkish)>
